/* Main Styling for Index.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #F72C5B;
    --secondary: #ffffff;
    --accent: #A7D477;
}


/* Main Section */
.main-section{
    height: 100vh;
    background-image:
    linear-gradient(to left, rgba(63, 63, 63, 0.822), rgba(131, 5, 99, 0.73)),
    url('../images/women_empowerment.jpg');
    background-size: cover;
}
.main-section h4{
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.main-section h1{
    font-size: calc(7vw + 10px);
}
.main-section h1{
    text-shadow: 3px 3px 2px rgb(26, 25, 25);
}
.main-section h4{
    text-shadow: 3px 3px 2px rgb(26, 25, 25);
}
.main-section p{
    text-shadow: 3px 3px 2px rgb(26, 25, 25);
}

